.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

/*-----COMPONENTS-----*/

.logo-color-footer {
  color: white;
}

.logo-color-header {
  color: black;
}

.footer {
  background-color: #2f303a;
}

.menu-link-current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.section {
  margin-bottom: 94px;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*-----/COMPONENTS-----*/

/*-----HEADER-----*/

.header {
  border-bottom: 1px solid #ececec;
}

.menu {
  display: flex;
}
.navigation {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #2196f3;
  margin-right: 70px;
}

.menu-item{
  position: relative;
}

.menu-link-current::after{
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  content: '';
  height: 4px;
  border-radius: 2px;
  width: 100%;
  background-color: #2196f3;

}

.menu-link-current,
.menu-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.adress-list {
  display: flex;
  margin-left: auto;
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
  color: #2196f3;
}


.adress-list-item:not(:last-child) {
  margin-right: 30px;
}

.email-adress {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-adress:hover,
.email-adress:focus {
  color: #2196f3;
}


.email-adress:hover .adress-list-img,
.email-adress:focus .adress-list-img{
  fill:#2196f3;
}

.phone-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone-number:hover,
.phone-number:focus {
  color: #2196f3;
}

.phone-number:hover .adress-list-img,
.phone-number:focus .adress-list-img{
  fill: #2196f3;
}

.adress-list-img{
  fill: #757575;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/*-----/HEADER-----*/

/*------HERO-----*/

.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/background-Img.png");
  background-size: cover;
  width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  max-width: max-content;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #ffffff;
}

.modl-btn {
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.modl-btn:hover,
.modl-btn:focus {
  background-color: #188ce8;
}

/*-----/HERO-----*/

/*-----OUR ADVANTAGES*/

.section-our {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}

.our-list-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-top: 30px;
  margin-left: 30px;
}

.our-list-item-box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
}

.our-suptitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.our-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}

/*-----/OUR ADVANTAGES-----*/

/*-----ABOUT-----*/

.about {
  padding-bottom: 94px;
}

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.about-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.about-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-top: 30px;
  margin-left: 30px;
}

.about-box{
  position: relative;
}

.about-list-subtitle{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.about-list-subtitle-text{
  display: flex;
  align-content: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 27px;
  }

/*-----/ABOUT-----*/

/*-----OUR TEAM-----*/

.section-team {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}


.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.team-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-top: 30px;
  margin-left: 30px;
  border: 1px solid transparent;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-item-subtitle {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffffff;
}

.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.social-list {
  display:flex;
  justify-content: center;
}

.social-list-link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon{
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item:not(:last-child){
  margin-right: 10px;
}

.social-list-link:hover, 
.social-list-link:focus{
  background-color: #2196f3;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon{
  fill: #ffffff;
}

/*-----/OUR TEAM-----*/

/*----- CLIENTS-----*/

.section-clients{
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #212121;
}

.clients-list{
  display: flex;
  justify-content: center;
}

.clients-list-item{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
}

.clients-list-item:not(:last-child){
  margin-right: 30px;
}

.clients-list-link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;  
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover, 
.clients-list-link:focus{
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.clients-list-icon{
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-icon:hover,
.clients-list-icon:focus{ 
  fill: #2196f3;
}
/*-----/CLIENTS-----*/

/*-----FOOTER-----*/

.footer-container{
  display: flex;
  align-items: center;
}

.footer-box-right{
  margin-left: 70px; 
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo-box { 
  margin-bottom: 20px;
  width: 250px;
}

.footer-item {
  margin-bottom: 9px;
}

.map-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71x;

  letter-spacing: 0.03em;

  color: #ffffff;
}

.footer-email-adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-phone-number {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #FFFFFF;

}

.footer-list-right{
  display:flex;
  justify-content: center;
}

.footer-list-link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #3f4049;
}

.footer-list-link:hover,
.footer-list-link:focus{
  background-color: #2196f3;
}

.footer-list-icon{
  fill: #fff;
}

/*-----/FOOTER-----*/

/*-----PORTFOLIO-----*/

.portfolio-section {
  
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.portfolio-list-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-btn {
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: #f5f4fa;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
   background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
   box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio-img {
  width: 370px;
  flex-basis: calc((100% - 90px) / 3);
  margin-top: 30px;
  margin-left: 30px;
  border: 1px solid #eeeeee;
}

.portfolio-img-item {
  padding: 20px 24px;
}

.suptitle-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.subtitle-portfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio-img-box{
  position: relative;
  overflow: hidden;
}

.portfolio-img:hover .portfolio-img-subtitle{
  transform: translateY(0);
}

.portfolio-img:hover{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-img-subtitle{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.portfolio-img-subtitle-text{
  padding-top: 63px;
  padding-left: 24px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

/*-----/PORTFOLIO-----*/

/*-----MODAL-----*/

.modal-subtitle{
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

 .backdrop{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 528px;
  height: 581px;
  background-color: rgba(255, 255, 255);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
 }

 .modal-close-btn{
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
 }

 .modal-close-btn-icon{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1 );
 }

 .modal-close-btn:hover .modal-close-btn-icon,
 .modal-close-btn:focus .modal-close-btn-icon{
  fill: #2196f3;
 }


 .backdrop.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
 }
/*-----/MODAL-----*/

/*-----CONTACT FORM-----*/

.contact-form{
  display: flex;
  flex-direction: column;
}

.contact-form-input{
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus{
  outline: none;
  border-color: #2196f3;
}

.contact-form-field{
  margin-bottom: 10px;
}

.contact-form-span{
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.contact-form-icon{
  position: absolute;
  top: 50%;
  left: 12px;
  transform:translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input-wrapper{
  position: relative;
  margin-top: 4px;
}

.contact-form-input:focus + .contact-form-icon {
  fill: #2196f3;
}

.contact-form-message{
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message::placeholder{
  text-transform: uppercase;
}

.contact-form-message:focus{
  outline: none;
  border-color: #2196f3;
}

.contact-form-checkbox-label{
  display: flex;
  align-content: center;
  font-size: 14px;
}

.contact-form-checkbox-label::before{
  display: block;
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 4px;
  content: '';
  cursor: pointer;
  margin-right: 9px;
}

.contact-form-checkbox:checked + .contact-form-checkbox-label::before{
  background-color: #2196f3;
  background-image: url("../images/vector.svg");
  background-position: center;
}

.contact-form-checkbox:focus + .contact-form-checkbox-label::before{
  outline: 2px solid #2196f3;
}

.contact-form-btn {
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.contact-form-btn:hover,
.contact-form-btn:focus {
  background-color: #188ce8;
}

/*-----/CONTACT FORM-----*/